<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete Sermon</title>

    <style>
    h2{
      margin-bottom:10px;
    }
    p{
      margin-top:0px;
      margin-bottom:25px;
    }

    </style>



  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
        <script>
          alert('{{message}}')
        </script>
      {% endfor %}
    {% endif %}

    <h1 style="color:red;">Are you sure you would like to delete following sermon from database?</h1>
    <h2>Title:</h2>
    <p>{{this_sermon.title}}</p>
    <h2>Speaker:</h2>
    <p>{{this_sermon.speaker}}</p>
    <h2>Scripture Passage</h2>
    <p>{{this_sermon.scripture_passage}}</p>
    <h2>Date:</h2>
    <p>{{this_sermon.date}}</p>
    <h2>Video URL:</h2>
    <p>{{this_sermon.video_url}}</p>

    <form action="/admin/sermons/{{this_sermon.id}}/delete_process" method="post">
      {% csrf_token %}
      <input type="submit" value="DELETE">
      <a href="/admin">Cancel</a>
    </form>
  </body>
</html>
