<link rel="stylesheet" href="/static/css/holywave/footer.css">

<footer class="container-fluid">
  <div class="row">
    <div id="footer_info" class="col-sm-4">
      <div>
        <h6>1900 W. Crescent Ave.</h6>
        <h6>Anaheim, CA 92801</h6>
        <h6>714-772-7777</h6>
      </div>
    </div>
    <div id="footer_logo" class="col-sm-4">
      <img src="/static/images/holywave/holywave_footer_white.png">
      <p>© 2018 HolyWave of Sa-Rang Community Church</p>
    </div>
    <div id="footer_social_links" class="col-sm-4">
      <div>
        <a href="https://www.facebook.com/holywave.srcc/" target="_blank"><i id="footer_icon" class="fa fa-facebook-official"></i></a>
        <a href="https://www.instagram.com/holywave.srcc/" target="_blank"><i id="footer_icon" class="fa fa-instagram"></i></a>
        <a href="https://vimeo.com/srccholywave" target="_blank"><i id="footer_icon" class="fa fa-vimeo"></i></a>
        <a href="mailto:holywave@sarang.com"><i id="footer_icon" class="fa fa-envelope-o"></i></a>
      </div>
      <h6><a href="https://www.sarang.com" TARGET="_blank"><img src="/static/images/holywave/srcc_footer_white.png"></a></h6>
    </div>
  </div>

</footer>
