<link rel="stylesheet" href="/static/css/holywave/navbar.css">
<link rel="stylesheet" href="/static/css/holywave/futura.css">
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/holywave">
        <img src="/static/images/holywave/holywave_nav_logo.png">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">ABOUT</a>
          <ul class="dropdown-menu">
            <!-- <li><a href="/holywave/about/who_we_are">Who We Are</a></li> -->
            <li><a href="/holywave/about/our_story">Our Story</a></li>
            <li><a href="/holywave/about/leadership">Leadership</a></li>
            <li><a href="/holywave/about/visit_us">Visit Us</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">CONNECT</a>
          <ul class="dropdown-menu">
            <li><a href="/holywave/connect/im_new">I'm New</a></li>
            <li><a href="/holywave/connect/oikos">Oikos (Small Groups)</a></li>
            <!-- <li><a href="/holywave/connect/membership">Membership</a></li> -->
            <li><a href="/holywave/connect/baptism">Baptism</a></li>
            <li><a href="/holywave/connect/get_involved">Get Involved</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">EQUIP</a>
          <ul class="dropdown-menu">
            <li><a href="/holywave/equip/foundations">Foundations</a></li>
            <li><a href="/holywave/equip/dt">Discipleship Training</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">RESOURCES</a>
          <ul class="dropdown-menu">
            <li><a href="/holywave/resources/sermons">Sermons</a></li>
            <li><a href="/holywave/resources/recommended_readings">Recommended Readings</a></li>
            <li><a href="https://subsplash.com/holywave_srcc/app" target="_blank">Download the App</a></li>
          </ul>
        </li>
        <li><a href="/holywave/give">GIVE</a></li>
      </ul>
    </div>
  </div>
</nav>
