<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Menu Item</title>

    <script src="/static/js/tiny_mce/tiny_mce.js"></script>
    <script src="/static/js/tiny_mce/textareas.js"></script>


  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
        <p style="color:red;">{{message}}</p>
      {% endfor %}
    {% endif %}
    <form action="/admin/menu/add_process" method="post">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" value="Add">
      <a href="/admin">Cancel</a>
    </form>
  </body>
</html>
